.cardStyle {
  max-width: 300px;
  max-height: 550px;
  min-width: 300px;
  min-height: 550px;
  justify-content: space-between;
  align-items: center;
}



.tituloCard {
  font-size: 1.2rem;
  font-weight: 700;
  min-height: 7rem;
  flex-wrap: hidden;
}

