

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  top: 74px;
  background-color: #633974;
}

.menu-izq {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 710.31px;
  height: 93.5px;
  gap: 116px;
  margin-left: 116px;
}

.img-logo {
  width: 86.31px;
  height: 93.5px;
}

.buscador-header {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  width: 508px;
  height: 56px;
  border-radius: 20px;
  padding: 0px, 0px, 0px, 25px;
}

.button-header-comprador {
  width: 132px;
  height: 56px;
  border-radius: 20px;
  background-color: #eda415;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  &:hover {
    background-color: #e65d0e;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }
}

.input-buscador {
  flex: 1;
  width: 100%;
  height: 21px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  padding: 10px;
  border: none;
  text-align: left;
}

.menu-derecho {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  margin: 1rem;
}

.submenu {
  display: flex;
  width: 97px;
  height: 24px;
  gap: 4px;
  cursor: pointer;
}

#link {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  margin-left: 6px;
}

