.contenido-topbar {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    
}

h3 {
    font-family: popins, Arial, Helvetica, sans-serif;

}

.contenido-envios {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}    

.icon-topbar {
    margin: 1rem;
}

strong {
    font-size: 1.5rem;
    font-family: popins, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

