.encabezado {  
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 253px;
  width: 100%;
  padding: 22px, 200px;
  background-color: #633974;
}

.opciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center; 
}

.img-logo {
  width: 7rem;
  margin: 1rem;
}

.lista-nav {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin: 3rem;
  color: white;  
}

.buscador-header{
  background-color: white;
  border-radius: 25px;
  
}

.input-buscador {
  padding: 1.5rem;
  width: 36rem;
  border: none;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  outline: none;
}

button {
  width: 10rem;
  padding: 1.5rem;
  background-color: #EDA415;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  &:hover{
    
    background-color: #e65d0e;
  } 
}

.ingreso {  
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  margin: 1rem;
}

a {
  font-size: 2rem;
  color: white;
}








  




